.from-language img,
.to-language img,
.category img {
    max-width: 30px;
    transition: all 1s;
    outline: 1px solid #48C01D;
}

.category img {
  max-width: 40px;
}

.active img {
    max-width: 60px;
}

.from-language, .to-language, .category {
    color: #48C01D;
    padding: 10px;
    text-align: justify;

}

#question {
    font-size: 30px;
    background-color: #F5F97B;
    color: #48C01D;
}

#points {
    font-size: 20px;
    color: #3ACA06;
}

#msg {
    width: 100px;
}

.success {
    color: #25EE25;
}

.error {
    color: #CE2D3D;
}