footer {
    min-height: 100px;
    text-align: center;
}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

section .container,
footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}